body {
    margin: 0;
}

html * {
    font-family: Montserrat !important;
}
h3 {
    margin: 0;
}
h1 {
    margin: 5% 0 0 0;
}
#background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/oak.webp");
    background-size: cover;
}

#logo{
    width: 25vw;
}

.page-content {
    border-radius: 1vh;
    padding: 1vh 3vw 3vh 3vw;
    background-color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
    padding-top: 2%;
}

.login,.register{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    flex-wrap: wrap;
    height: 40vh;
    align-content: space-around;
    justify-content: space-between;
}

.submit {
    background-color: #6d6d6d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.incorrect {
    color: #780000;
    font-weight: bold;
    /*https://thedesigncreative.co.uk/why-you-shouldnt-use-vw-vh-or-px-for-font-sizing-a-comprehensive-guide/*/
    font-size: 3vh;
    margin: 0;
}

.online {
    height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  float: right;
}



*[hidden] {
    display: none;
}